
.card{
    width: 20rem;
}

.row1{
    padding-top: 50px;
    padding-left: 50px;
    margin: auto;
    padding-right: 50px;
}

.row2{
    padding-top: 50px;
    padding-left: 50px;
    margin: auto;
    padding-right: 50px;
}

.row3{
    padding-top: 50px;
    padding-left: 50px;
    margin: auto;
    padding-right: 50px;
}

.row4{
    padding-top: 50px;
    padding-left: 50px;
    margin: auto;
    padding-right: 50px;
}

.row4All{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}

.Albums{
    padding-top: 100px;
    padding-bottom: 17%;
}

.btn-purple{
    color: #66297e;
    border-color: #66297e;
}

.btn-purple:hover{
    background-color: #42005c;
    color: #ffffff;
}

.btn-purple:active{
    background-color: #66297e;
    color: #ffffff;
}

.btn-purple:disabled{
    background-color: #42005c;
    color: #ffffff;
}