.EventsList{
    padding-top: 100px;
    text-align: center;
}

.Subscribe{
    width: 40%;
    padding-top: 130px;
    margin: auto;
    text-align: center;
    color: #66297e;
}

.Shows{
    padding-top: 130px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 9%;
}

.btn-purple{
    color: #66297e;
    border-color: #66297e;
}

.btn-purple:hover{
    background-color: #42005c;
    color: #ffffff;
}

.btn-purple:active{
    background-color: #66297e;
    color: #ffffff;
}

.btn-purple:disabled{
    background-color: #42005c;
    color: #ffffff;
}
