@font-face {
    font-family:"glacial-indifference.regular.otf";
    src: url('../Fonts/glacial-indifference.regular.otf');
}

@font-face {
    font-family:"glacial-indifference.bold.otf";
    src: url('../Fonts/glacial-indifference.bold.otf');
}

.ContactUs{
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    
}

h1{
    text-align: center;
    padding-top: 40px;
    font-family: 'glacial-indifference-bold';
    color: #66297e;
}

.Icons{
    width: 20px;
    padding: 10px;
    margin: 0px;
}

.IconsDiv{
    text-align: center;
}

.Icons:hover{
    color: grey;
}

.Details{
    padding: 10px;

}

.Message{
    height: 100px;
    padding: 10px;
}

.EmailAddress{
    width: 50%;
    margin:auto;
}

.Submit{
    padding-bottom: 200px;
    margin: auto;
    text-align: center;
}

.btn-purple{
    color: #66297e;
    border-color: #66297e;
}

.btn-purple:hover{
    background-color: #42005c;
    color: #ffffff;
}

.btn-purple:active{
    background-color: #66297e;
    color: #ffffff;
}

.btn-purple:disabled{
    background-color: #42005c;
    color: #ffffff;
}

.errorText{
    color: red;
}

.inputError{
    color: red;
    border: 1px red solid;
}