img{
    width: 400px;
}

.Image12{
    padding-left: 50px;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

.Image34{
    padding-left: 50px;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

.Image5{
    padding-left: 50px;
    padding-top: 50px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}
